<div class="banner-title-toupie">
  <h1>Béton Prêt-à-l'emploi</h1>
</div>

<div class="calin-container">
  <div class="row">
    <div class="col-lg-8 col-12">
      <p class="mt-4">
        L'<span class="bold">Entreprise Paul CALIN</span> produit du <span class="bold">Béton Prêt à l'Emploi</span> (BPE) <span class="bold">depuis 1960</span>.
      </p>
      <div class="row">
        <div class="col-lg-9 col-12 my-3">
          <p class="">
            Elle possède 3 centrales à béton :
          </p>
          <ul>
            <li>à <span class="bold">SAINT-DIZIER (52)</span>, route de Villiers-en-Lieu - RD221,</li>
            <li>à <span class="bold">RACHECOURT-sur-Marne (52)</span>, route de Chevillon - RD9,</li>
            <li>à <span class="bold">BARVILLE (88)</span>, RD3e.</li>
          </ul>
        </div>
        <div class="col-lg-3 col-12 d-flex align-items-center justify-content-center">
          <%= image_tag 'logos/logo-calin.jpg', width: '100%' %>
        </div>

        <div class="col-lg-3 col-12 d-flex align-items-center justify-content-center">
          <%= image_tag 'logos/logo-c2b.png', width: '50%' %>
        </div>
        <div class="col-lg-9 col-12 d-flex align-items-center">
          <p class="">
            La filiale <span class="bold">CALIN BAR Béton</span> (C2B) possède la centrale de <span class="bold">VARNEY / VAL d'ORNAIN (55)</span>, hameau de Rembercourt, accès par la RD1.
            <br>
            <br>
            <span class="bold">C2B</span> commercialise également le BPE au départ de la <span class="bold">centrale ICARIA à BAR-LE-DUC</span>.
          </p>
        </div>

        <p class="mt-4">
          Nos <span class="bold">4 centrales</span> sont <span class="bold">titulaires de la marque NF</span>.
          <br>
          Les <span class="bold">productions</span> sont <span class="bold">suivies</span> et <span class="bold">contrôlées par un <span class="bold">laboratoire extérieur certifié</span>.
          <br>
          Leurs <span class="bold">capacités de production</span> s'échelonnent de <span class="bold">40 à 60 m3 par heure</span>.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-12 py-4 d-flex align-items-center">
      <%= render 'carousel', images: @carousel1, path: "concrete/carousel1", number: 1, mid_width: false %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-12 my-3">
      <p class="">
        Nos <span class="bold">gammes</span> de produits s'étendent <span class="bold">des bétons courants</span> destinés à la construction traditionnelle (fondations, dalles ..), <span class="bold">aux bétons spéciaux</span> :
      </p>
      <ul class="long-list">
        <li>bétons auto-plaçants,</li>
        <li>bétons auto-nivelants,</li>
        <li>bétons hautes performances,</li>
        <li>chapes liquides,</li>
        <li>bétons fibrés,</li>
        <li>bétons agricoles,</li>
        <li>bétons extrudés,</li>
        <li>bétons désactivés,</li>
        <li>bétons décoratifs, bétons matricés,</li>
        <li>bétons colorés,</li>
        <li>bétons drainants,</li>
        <li>remblais autocompactants,</li>
        <li>MACES, etc.</li>
      </ul>
      <p class="">
        L'entreprise possède <span class="bold">son parc propre d'environ 20 camions malaxeurs</span> (toupies), constitué essentiellement de porteurs 8x4 et 6x4, dont :
      </p>
      <ul class="long-list">
        <li>2 camions équipés de tapis téléscopiques,</li>
        <li>1 camion malaxeur-pompe PUMI (flèche de 21 m),</li>
        <li>4 semis malaxeurs.</li>
      </ul>
      <p class="">
        Nos <span class="bold">pompages de béton</span> sont sous-traités à des <span class="bold">prestataires spécialisés, fiables</span>, et disposant d'une large gamme de pompes.
      </p>
    </div>

    <div class="col-lg-6 col-12 my-3">
      <p class="">
        À <span class="bold">destination de tous les chantiers</span> :
      </p>
      <ul class="long-list">
        <li>Logements collectifs, EHPAD,</li>
        <li>Construction de maisons,</li>
        <li>Bâtiments industriels et commerciaux,</li>
        <li>Constructions agricoles (bâtiments, silos, fosses),</li>
        <li>Méthanisations,</li>
        <li>Parcs éoliens,</li>
        <li>Ouvrages d'art, Génie-civil,</li>
        <li>Travaux publics, voiries, aménagements urbains.</li>
      </ul>
      <div class="d-flex justify-content-center align-items-center">
        <%= render 'carousel', images: @carousel2, path: "concrete/carousel2", number: 2, mid_width: false %>
      </div>
    </div>

    <div class="col-lg-6 col-12 my-3">
      <div class="d-flex justify-content-center align-items-center">
        <%= render 'carousel', images: @carousel3, path: "concrete/carousel3", number: 3, mid_width: false %>
      </div>
    </div>

    <div class="col-lg-6 col-12 my-3">
      <p class="mt-3">
        Quelques <span class="bold">chantiers récents ou en cours</span> :
      </p>
      <ul class="long-list">
        <li>méthanisation à Fronville,</li>
        <li>EHPAD à Manois,</li>
        <li>salle de sport à Joinville,</li>
        <li>taxiway sur BA113 à St-Dizier,</li>
        <li>EHPAD à Bar-le-Duc,</li>
        <li>15 éoliennes à Osne-le-Val et Montreuil,</li>
        <li>cinéma à Neufchateau,</li>
        <li>bâtiment logistique WM88 à Chatenois,</li>
        <li>hôpital de Vittel,</li>
        <li>bâtiments EDF à Bure, à Velaines, à St-Dizier...</li>
      </ul>
    </div>
  </div>
  <p class="mt-3">
    Nos moyens nous permettent d'<span class="bold">assumer seuls de grosses cadences de livraison</span> pour les <span class="bold">chantiers de dallages</span>, ou les <span class="bold">massifs d'éoliennes</span>.
  </p>
  <p class="">
    De 2005 à fin 2019, nous avons <span class="bold">livré le béton</span> pour la <span class="bold">construction de 400 éoliennes</span>, en Lorraine et Champagne, pour des <span class="bold">massifs de 300 à 600 m3 de béton coulés en moins d'une journée</span>.
  </p>
</div>
