<div class="banner-title-toupie">
  <h1>Présentation du groupe - Historique</h1>
</div>

<div class="calin-container">
  <div class="pres-links my-3">
    <div class="pres-link">
      <%= link_to 'Organisation', organisation_path %>
    </div>
    <div class="pres-link">
      <%= link_to 'Moyens et Chiffres', figures_path %>
    </div>
    <div class="pres-link">
      <%= link_to 'Historique', history_path, class: 'active-tab' %>
    </div>
  </div>

  <div class="position-relative">
    <%= image_tag 'history/compacteur.jpg', width: '350px', id: "photo1", class: 'absolute-image' %>
    <%= image_tag 'history/en-tete.jpg', id: "photo2", class: 'absolute-image' %>
    <p class="mb-1"><span class="bold text-blue">Paul CALIN</span>, agriculteur à HARCHÉCHAMP (88), a commencé à la <span class="bold">fin des années 1920</span> à réaliser des <span class="bold">travaux de chemins</span> pour les communes avoisinantes, avec ses chevaux, et des tombereaux.</p>
    <p class="mb-1">Pendant la <span class="bold">2ème guerre mondiale</span>, l'activité s'est orientée vers <span class="bold">l'exploitation forestière</span>.</p>
    <p class="mb-4">Les activités se développent <span class="bold">après la guerre, et une carrière de roche calcaire</span> est ouverte à BARVILLE (88), où est installé un groupe fixe de concassage / criblage de granulats.</p>

    <p class="mb-1">En <span class="bold">1953</span>, la fourniture de 150 000 m3 de sable calcaire (Groise de BARVILLE) pour la <span class="bold">construction de la base aérienne de JUVAINCOURT</span> fait se développer fortement l'activité de l'entreprise, qui devient une SARL.
    <br>Les premières pelleteuses Nordest à cables sont achetées.</p>
    <p class="mb-1">Un autre <span class="bold">chantier important</span> en forêt de TROIS-FONTAINES (51) est <span class="bold">à l'origine de l'implantation de l'entreprise à SAINT-DIZIER</span>.</p>
    <p class="mb-1"><span class="bold">Roger CALIN</span>, fils ainé de Paul, s'y marie et <span class="bold">s'y installe à la fin des années 1950</span>. Il y sera rejoint plus tard par son frère Michel.</p>
    <p class="mb-4">Les 3 autres fils de Paul CALIN, <span class="bold">Raymond, Gilbert, et Claude travaillent</span> dans l'entreprise <span class="bold">à HARCHÉCHAMP</span>.</p>

    <p class="mb-1">Une <span class="bold">centrale à béton</span> et une <span class="bold">fabrique d'agglomérés</span> sont implantées à <span class="bold">SAINT-DIZIER</span>, où l'entreprise exploite des sablières dans la vallée de la Marne.</p>
    <p class="mb-1">Une <span class="bold">scierie de feuillus</span> est ouverte à BARVILLE vers <span class="bold">1965</span>, pour fournir l'industrie d'ameublement de LIFFOL / NEUFCHATEAU.</p>
    <p class="mb-1"><span class="bold">Paul Calin décède en 1974</span> à l’age de 76 ans. Roger et Raymond dirigent l’entreprise.</p>
    <p class="mb-4">En <span class="bold">1975</span>, une <span class="bold">centrale à béton</span> et une <span class="bold">fabrique d'agglomérés</span> sont installées à <span class="bold">BARVILLE</span>.</p>

    <p class="mb-1">La <span class="bold">fin des années 1980 et début 1990</span> sont marquées par le <span class="bold">développement de l'activité Travaux Publics</span> à SAINT-DIZIER et le <span class="bold">redéploiement de l'activité Carrières</span> à HARCHÉCHAMP.</p>
    <p class="mb-1">Une 3ème centrale à béton est installée en <span class="bold">1992</span> à RACHECOURT-sur-Marne (52).</p>
    <p class="mb-1">L'effectif de l'entreprise CALIN en <span class="bold">1996</span> atteint <span class="bold">100 personnes</span>.</p>
    <p class="mb-1">En <span class="bold">1997</span>, rachat de l'entreprise BOULOGNE, exploitant de carrières et sablières, à SAINT-DIZIER.</p>
    <p class="mb-1">En <span class="bold">1998</span>, rachat à l'entreprise CEREDA de sa carrière de roche calcaire à GONDRECOURT-le-Château (55).</p>
    <p class="mb-4">En <span class="bold">1999</span>, arrêt de l'activité Scierie à BARVILLE.</p>

    <p class="mb-1">En <span class="bold">2003</span>, changement de génération, Guy CALIN est nommé PDG, Yves CALIN est DGD. Jean-François CALIN est nommé DGD en <span class="bold">2012</span>.</p>
    <p class="mb-1">En <span class="bold">2008</span>, déménagement des bureaux du siège social à BARVILLE (précédemment à HARCHÉCHAMP).</p>
    <p class="mb-4">En <span class="bold">2011</span>, rachat à GEDIMAT-COLLOT de son activité BPE à BAR-LE-DUC (centrale de VARNEY). Création de la filiale C2B.</p>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <%= image_tag 'history/1953-1.jpg', width: '100%' %>
    </div>
    <div class="col-12 col-md-6">
      <%= image_tag 'history/1953-2.png', width: '100%' %>
    </div>
  </div>
</div>
