<div class="calin-container">
  <h1 class="text-center py-4 bold">Bienvenue sur le site de l'entreprise <span class="text-blue">Paul CALIN</span></h1>


  <div class="d-flex justify-content-center align-items-center my-3">
    <%= image_tag 'prez-map.jpg', class: "map-home" %>
  </div>

  <div class="row my-3">
    <div class="col-xl-3 col-md-6 col-12 cards">
      <%= link_to presentation_path, class: 'link-cards', id: "prez-card" do %>
        <div class="card-category">
          <h4 class="text-center">Présentation</h4>
        </div>
      <% end %>
    </div>
    <div class="col-xl-3 col-md-6 col-12 cards">
      <%= link_to concrete_path, class: 'link-cards', id: "concrete-card" do %>
        <div class="card-category">
          <h4 class="text-center">Béton Prêt-à-l'emploi</h4>
        </div>
      <% end %>
    </div>
    <div class="col-xl-3 col-md-6 col-12 cards">
      <%= link_to quarries_path, class: 'link-cards', id: "quarries-card" do %>
        <div class="card-category">
          <h4 class="text-center">Carrières</h4>
        </div>
      <% end %>
    </div>
    <div class="col-xl-3 col-md-6 col-12 cards">
      <%= link_to publics_path, class: 'link-cards', id: "publics-card" do %>
        <div class="card-category">
          <h4 class="text-center">Travaux Publics</h4>
        </div>
      <% end %>
    </div>
  </div>
</div>

