<div class="banner-title-toupie">
  <h1>Nos Sites</h1>
</div>

<div class="calin-container sites-page-sm-container mb-3">
  <div class="nav-steps my-2">
    <%= link_to history_path do %>
      <p class="">< Histoire</p>
    <% end %>
    <%= link_to subsidiaries_path do %>
      <p class="">Nos filiales ></p>
    <% end %>
  </div>

  <div class="text-center">
    <p class="">Nous sommes désolé, la carte interactive n'est visible que sur ordinateur.</p>
    <p class="">Veuillez accéder au site internet sur un appareil avec un écran plus large pour la voir.</p>
    <p class="">Elle présente l'ensemble des sites ci-dessous :</p>

    <div class="row">
      <div class="col-12 col-lg-6">

        <p class="my-2 bold">Siège, succursale et filiales</p>
        <div class="d-flex">
          <%= image_tag 'marker-blue.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Siège social - Barville (88)</p>
        </div>
        <div class="d-flex">
          <%= image_tag 'marker-blue.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Saint-Dizier (52)</p>
        </div>
        <div class="d-flex">
          <%= image_tag 'marker-blue.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Entreprise Boulogne (52)</p>
        </div>
        <div class="d-flex">
          <%= image_tag 'marker-blue.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>SAS C2B - Calin Bar Béton (55)</p>
        </div>

        <p class="my-2 bold">Béton Prêt-à-l’empoi</p>
        <div class="d-flex">
          <%= image_tag 'marker-red.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Barville / Harchéchamp (88)</p>
        </div>
        <div class="d-flex">
          <%= image_tag 'marker-red.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Saint-Dizier (52)</p>
        </div>
        <div class="d-flex">
          <%= image_tag 'marker-red.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Rachecourt-sur-Marne (52)</p>
        </div>
        <div class="d-flex">
          <%= image_tag 'marker-red.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Varney (55)</p>
        </div>

      </div>

      <div class="col-12 col-lg-6">

        <p class="my-2 bold">Carrières roches calcaires</p>
        <div class="d-flex">
          <%= image_tag 'marker-green.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Attignéville (88)</p>
        </div>
        <div class="d-flex">
          <%= image_tag 'marker-green.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Gondrecourt-le-Château (55)</p>
        </div>
        <div class="d-flex">
          <%= image_tag 'marker-green.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Magneux / Brousseval (52)</p>
        </div>
        <div class="d-flex">
          <%= image_tag 'marker-green.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Sommerécourt (52)</p>
        </div>
        <div class="d-flex">
          <%= image_tag 'marker-green.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Tramont-Lassus (54)</p>
        </div>

        <p class="my-2 bold">Carrières sables et graviers</p>
        <div class="d-flex">
          <%= image_tag 'marker-yellow.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Coussey / Sionne (88)</p>
        </div>
        <div class="d-flex">
          <%= image_tag 'marker-yellow.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Perthois (52)</p>
        </div>
        <div class="d-flex">
          <%= image_tag 'marker-yellow.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Moeslains (52)</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="calin-container sites-page-lg-container my-3 flex-column align-items-center justify-content-center">
  <div class="nav-steps my-2">
    <%= link_to history_path do %>
      <p class="">< Histoire</p>
    <% end %>
    <%= link_to subsidiaries_path do %>
      <p class="">Nos filiales ></p>
    <% end %>
  </div>

  <div class="d-flex filter-buttons my-3">
    <%= link_to sites_path do %>
      <div class="d-flex filter-button">
        <p class='pl-2' style='margin: 0'>Tout</p>
      </div>
    <% end %>
    <%= link_to sites_path(query: "entites") do %>
      <div class="d-flex filter-button" data-filter="?query=entites">
        <%= image_tag 'marker-blue.png', width: '20px', height: '30px' %>
        <p class='pl-2' style='margin: 0'>Siège, succursale et filiales</p>
      </div>
    <% end %>
    <%= link_to sites_path(query: "beton") do %>
      <div class="d-flex filter-button" data-filter="?query=beton">
        <%= image_tag 'marker-red.png', width: '20px', height: '30px' %>
        <p class='pl-2' style='margin: 0'>Centrales à Béton</p>
      </div>
    <% end %>
    <%= link_to sites_path(query: "carrieres calcaires") do %>
      <div class="d-flex filter-button" data-filter="?query=carrieres+calcaires">
        <%= image_tag 'marker-green.png', width: '20px', height: '30px' %>
        <p class='pl-2' style='margin: 0'>Carrières roches calcaires</p>
      </div>
    <% end %>
    <%= link_to sites_path(query: "sablieres") do %>
      <div class="d-flex filter-button" data-filter="?query=sablieres">
        <%= image_tag 'marker-yellow.png', width: '20px', height: '30px' %>
        <p class='pl-2' style='margin: 0'>Carrières sables et graviers</p>
      </div>
    <% end %>
  </div>
  <div id="map"
      style="width: 90%; height: 500px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <h4 class="bold my-4">Nos sites</h4>
  <div class="row w-lg-75 w-100">
    <div class="col-12 col-lg-6">

      <p class="my-2 bold">Siège, succursale et filiales</p>
      <%= link_to sites_path(precise_filter: "Siège social - Barville (88)", kind: 'entites') do %>
        <div class="d-flex">
          <%= image_tag 'marker-blue.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Siège social - Barville (88)</p>
        </div>
      <% end %>
      <%= link_to sites_path(precise_filter: "Saint-Dizier (52)", kind: 'entites') do %>
        <div class="d-flex">
          <%= image_tag 'marker-blue.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Saint-Dizier (52)</p>
        </div>
      <% end %>
      <%= link_to sites_path(precise_filter: "Entreprise Boulogne (52)", kind: 'entites') do %>
        <div class="d-flex">
          <%= image_tag 'marker-blue.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Entreprise Boulogne (52)</p>
        </div>
      <% end %>
      <%= link_to sites_path(precise_filter: "SAS C2B - Calin Bar Béton (55)", kind: 'entites') do %>
        <div class="d-flex">
          <%= image_tag 'marker-blue.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>SAS C2B - Calin Bar Béton (55)</p>
        </div>
      <% end %>

      <p class="my-2 bold">Béton Prêt-à-l’empoi</p>
      <%= link_to sites_path(precise_filter: "Barville / Harchéchamp (88)", kind: 'beton') do %>
        <div class="d-flex">
          <%= image_tag 'marker-red.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Barville / Harchéchamp (88)</p>
        </div>
      <% end %>
      <%= link_to sites_path(precise_filter: "Saint-Dizier (52)", kind: 'beton') do %>
        <div class="d-flex">
          <%= image_tag 'marker-red.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Saint-Dizier (52)</p>
        </div>
      <% end %>
      <%= link_to sites_path(precise_filter: "Rachecourt-sur-Marne (52)", kind: 'beton') do %>
        <div class="d-flex">
          <%= image_tag 'marker-red.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Rachecourt-sur-Marne (52)</p>
        </div>
      <% end %>
      <%= link_to sites_path(precise_filter: "Varney (55)", kind: 'beton') do %>
        <div class="d-flex">
          <%= image_tag 'marker-red.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Varney (55)</p>
        </div>
      <% end %>

    </div>

    <div class="col-12 col-lg-6">

      <p class="my-2 bold">Carrières roches calcaires</p>
      <%= link_to sites_path(precise_filter: "Attignéville (88)", kind: 'carrieres calcaires') do %>
        <div class="d-flex">
          <%= image_tag 'marker-green.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Attignéville (88)</p>
        </div>
      <% end %>
      <%= link_to sites_path(precise_filter: "Gondrecourt-le-Château (55)", kind: 'carrieres calcaires') do %>
        <div class="d-flex">
          <%= image_tag 'marker-green.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Gondrecourt-le-Château (55)</p>
        </div>
      <% end %>
      <%= link_to sites_path(precise_filter: "Magneux / Brousseval (52)", kind: 'carrieres calcaires') do %>
        <div class="d-flex">
          <%= image_tag 'marker-green.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Magneux / Brousseval (52)</p>
        </div>
      <% end %>
      <%= link_to sites_path(precise_filter: "Sommerécourt (52)", kind: 'carrieres calcaires') do %>
        <div class="d-flex">
          <%= image_tag 'marker-green.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Sommerécourt (52)</p>
        </div>
      <% end %>
      <%= link_to sites_path(precise_filter: "Tramont-Lassus (54)", kind: 'carrieres calcaires') do %>
        <div class="d-flex">
          <%= image_tag 'marker-green.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Tramont-Lassus (54)</p>
        </div>
      <% end %>

      <p class="my-2 bold">Carrières sables et graviers</p>
      <%= link_to sites_path(precise_filter: "Coussey / Sionne (88)", kind: 'sablieres', kind: 'sablieres') do %>
        <div class="d-flex">
          <%= image_tag 'marker-yellow.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Coussey / Sionne (88)</p>
        </div>
      <% end %>
      <%= link_to sites_path(precise_filter: "Perthois (52)", kind: 'sablieres') do %>
        <div class="d-flex">
          <%= image_tag 'marker-yellow.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Perthois (52)</p>
        </div>
      <% end %>
      <%= link_to sites_path(precise_filter: "Moeslains (52)", kind: 'sablieres') do %>
        <div class="d-flex">
          <%= image_tag 'marker-yellow.png', width: '17px', height: '25px' %>
          <p class='pl-2' style='margin: 0'>Moeslains (52)</p>
        </div>
      <% end %>

    </div>
  </div>
</div>

