<div class="container">
  <h1 class="text-center py-3">Information actuelles</h1>

  <%= link_to 'Éditer les informations', edit_professional_equality_path(@professional_equality), class: 'btn btn-primary' %>

  <p class="bold text-blue mb-3 mt-5">Index d’égalité professionnelle femmes-hommes <%= @professional_equality.year %> : <%= @professional_equality.index %></p>

  <table class="table" style="max-width: 900px">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Indicateur</th>
        <th scope="col">Résultat</th>
        <th scope="col">Points obtenus</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Écart de rémunération</td>
        <td class="text-center"><%= @professional_equality.pay_gap_result %></td>
        <td class="text-center"><%= @professional_equality.pay_gap_points %></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Écart d’augmentations individuelles</td>
        <td class="text-center"><%= @professional_equality.increase_gap_result %></td>
        <td class="text-center"><%= @professional_equality.increase_gap_points %></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Salariées augmentées au retour d’un congé maternité</td>
        <td class="text-center"><%= @professional_equality.maternity_increase_result %></td>
        <td class="text-center"><%= @professional_equality.maternity_increase_points %></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Salariés du sexe sous-représenté dans les 10 plus hautes rémunérations</td>
        <td class="text-center"><%= @professional_equality.high_remuneration_result %></td>
        <td class="text-center"><%= @professional_equality.high_remuneration_points %></td>
      </tr>
    </tbody>
  </table>
  <% if @professional_equality.actions_comment.present? %>
    <p style="font-size: 16px">Mesures de corrections prévues :</p>
    <p style="font-size: 16px"><%= @professional_equality.actions_comment %></p>
  <% else %>
    <p style="font-size: 16px">Mesures de corrections prévues : non requis</p>
  <% end %>
</div>
